/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

/* Customize Bootstrap variables */
:root {
  --primary: #AEC6CF;
  --secondary: #FDFD96;
  --success: #B2DF8A;
  --danger: #F78FA7;
  --warning: #FFAB91;
  --info: #B3E5FC;
  --light: #E0E0E0;
  --dark: #536dfe;
  --font-family-base: 'Poppins', sans-serif;
}

.task-card {
  width: 50%;
  max-width: 500px;
}


/* General styles */
body {
  font-family: var(--font-family-base);
  background-color: #F7F7F7;
}

.container {
  max-width: 800px;
  position: relative;
}

h1 {
  font-weight: 300;
  margin-bottom: 1rem;
  color: var(--primary);
}

.task-card {
  width: 300px;

}

.logged-in-user {
  font-size: 1rem;
  font-weight: 500;
  color: #343a40;
}

.task-form .form-control {
  border: none;
  border-bottom: 1px solid var(--primary);
  border-radius: 0;
  box-shadow: none;
}

.task-form .btn-primary {
  background-color: var(--primary);
  border: none;
  font-weight: 400;
}

